@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br/>
    <h2>One Stop Shop</h2>
    <h4>For all your transport consignments with 100% safety</h4>
    <br/>
    <h2>Save Time</h2>
    <h4>Connect with the delivery expert advisor in 15 minutes</h4>
    <br/>
    <h2>Save Money</h2>
    <h4>Get delivery of order product at affordable price</h4>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
