
@{
    ViewData["Title"] = "AboutUs";
}

<h5>
    A Chennai based delivery company operates in chennai having door to door delivery services.

    Our delivery services are very important services in our lives. This is due to the fact that they help us to deliver various products safely, urgently and discreetly. However, when using a courier service you need to consider its security, delivery time, convenience, the customer’s order and delivery tracking. If you are in Chennai then you are in luck because we are a reputable courier service and we offer express delivery service in Chennai.
    <br/>

    About us. We have been in the business for a while and we are a reputable, convenient and secure delivery service. This means we make sure your package is secure and is delivered personally. As a result we have built a trustworthy relationship with all our customers. In fact, we deliver your package within 90 minutes after booking a delivery, making us the fastest courier service in Chennai. We have a lot of walking and riding couriers who are always ready to deliver your package, so we can assign a package to a courier very quickly after booking. In general, we are very effective in delivering express courier service.
    <br/>
    Why use our delivery service? We are very convenient. Since we have both walking and riding deliveries, we can deliver your package to any location within Chennai, helping you to avoid the struggles of going to the post office by delivering your packages for you. We are fast. Besides assigning your package to the nearest highly rated courier, we deliver all the packages within 90 minutes. We have an excellent tracking system. We will notify you of your packet’s location at each delivery point via an SMS.
    <br/>
    We are very affordable. Despite being convenient, fast, secure and providing high-quality services, we charge a very small amount. You can use our courier service without creating an account. All you need is the sender's address, and contact details
</h5>

