
@{
    ViewData["Title"] = "AddedInDatabase";
}
<p>
    <a asp-action="CustomerHome">Back</a>
</p>
<h1>Your order placed successfully </h1>


<p>
    <a asp-action="CustomerBookingList">Go to your orders</a>
</p>